build/
.cache

CMakeCache.txt
CMakeFiles/
CoreFoundation.framework/
Makefile
cmake_install.cmake
.DS_Store
Foundation.xcodeproj/project.xcworkspace
Foundation.xcodeproj/xcshareddata
Foundation.xcodeproj/xcuserdata
